.cabinet{
    display: flex;

    @include breakpoint($mobile-bp){
        flex-direction: column-reverse;
        align-items: center;
    }
}

.cabinet__form{
    width: 34rem;

    @include breakpoint($mobile-bp){
        width: 26rem;
    }
}

.cabinet__avatar{
    width: 26rem;
    padding-left: 11rem;

    img{
        display: block;
        margin-bottom: 1.5rem;
    }

    @include breakpoint($mobile-bp){
        padding: 0;
        margin-bottom: 2rem;

        img{
            margin: 0 auto 1.5rem;
        }
    }
}
.cabinet__file{
    input{
        display: none;
    }

    color: $blue;
    font-size: 1.4rem;
    text-decoration: underline;
    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}