.nav{

    @include breakpoint($tablet-bp){
        display: none;
    }

    &--mobile{
        display: none;
        padding-left: 3rem;
        padding-top: 4.5rem;
        position: relative;

        

        &::before{
            content: "";
            display: block;
            width: 27rem;
            height: 1px;
            background-color: #4e4e4e;
            position: absolute;
            left: 1.5rem;
            top: 2rem;

        }
        
        @include breakpoint($tablet-bp){
            display: block;
        }

    }
}

.nav__list{
    display: flex;

    @include breakpoint($tablet-bp){
        flex-direction: column;
    }
}

.nav__item{
    position: relative;
    &:hover{
        .nav__link{
            background-color: $blue;

            @include breakpoint($tablet-bp){
                background-color: transparent;
            }
        }

        >.subnav{
            display: block;
        }
    }

    &.click{
        >.subnav{
            display: block;
        }
    }

}

.nav__link{
    display: block;
    
    padding: 1.35rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;

    transition: background-color .1s linear;

    &.has-subnav{
        position: relative;
        padding-right: 3.5rem;
        &:after{
            content: "";
            display: block;
            position: absolute;
            border-style: solid;
            margin-top: 2px;
            border-width: 6px 5px 0 5px;
            border-color: $white transparent transparent transparent;
            top: 50%;
            right: 1.35rem;
            transform: translateY(-50%);
        }
    }
    &:hover{
        background-color: $blue;
        text-decoration: none;
    }

    @include breakpoint($tablet-bp){
        font-size: 1.6rem;
        font-weight: 300;
        text-transform: none;

        &.active{
            color: #107EFF;
        }
    }
}

