.social{
    width: 105px;
    margin: 20px auto;

    display: flex;
    justify-content: space-between;
}

.hr{
    display: block;
    width: 260px;
    height: 1px;
    background-color: #1c1c1c;
    margin: 0 auto;
}

.me_about{
    line-height: 18px;
    font-size: 12px;
    margin: 30px 20px;
    
}