<div class="modal" id="share-modal">
    <div class="modal__content">
        <button class="modal__close" type="button" id="share_close" >
            <img class="" src="/assets/images/close.svg" alt="Закрыть окно">
            </button>
        
            

        <ul class="social social--modal_share">
            
            <li class="social_item">
                <a href="#" >
                    <img src="/assets/images/share/vk.svg" alt="">
                </a>
            </li>
            <li class="social_item">
                <a href="#" >
                    <img src="/assets/images/share/twitter.svg" alt="">
                </a>
            </li>
            <li class="social_item">
                <a href="#" >
                    <img src="/assets/images/share/facebook.svg" alt="">
                </a>
            </li>
            <li class="social_item">
                <a href="#" >
                    <img src="/assets/images/share/copy.svg" alt="">
                </a>
            </li>
        </ul>


    </div>
</div>